<table class="aui aui-table-sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phase</th>
      <th>Due Date</th>
      <th>Assignee</th>
      <th>Status</th>
    <tr>
  </thead>
  <tbody>
    {{#each tasks}}
      <tr>
        <td>{{this.fields.Name}}</td>
        <td>{{this.fields.[Phase Name Look Up].[0]}}
        <td>{{this.fields.[Due Date]}}</td>
        <td>{{this.fields.[Assignee Name Lookup].[0]}}</td>
        {{#if this.inProgress}}
          <td><span class="aui-lozenge aui-lozenge-current">{{this.fields.Status}}</span></td>
        {{else if this.isBlocked}}
          <td><span class="aui-lozenge aui-lozenge-error">{{this.fields.Status}}</span></td>
        {{else if this.isDone}}
          <td><span class="aui-lozenge aui-lozenge-success">{{this.fields.Status}}</span></td>
        {{else}}
          <td><span class="aui-lozenge">To Do</span></td>
        {{/if}}
      </tr>
    {{/each}}
  </tbody>
</table>
