<p class="auto-cursor-target"><br /></p><ac:structured-macro ac:name="panel" ac:schema-version="1" ac:macro-id="3cea3b52-2d51-4401-90c4-07cd12e75c79"><ac:rich-text-body>
<p class="auto-cursor-target"><br /></p><ac:structured-macro ac:name="section" ac:schema-version="1" ac:macro-id="1868c02b-0d96-4a52-8e7e-62d3d233750d"><ac:rich-text-body>
<p class="auto-cursor-target"><br /></p><ac:structured-macro ac:name="column" ac:schema-version="1" ac:macro-id="117dfb64-0cac-4c36-b7d4-cbf3b2561e9c"><ac:parameter ac:name="width">100%</ac:parameter><ac:rich-text-body>
<p><strong><a href="https://airtable.com/tblPl0E3aiD0kD2MR/viwmnpxGQMDlUNOZ6/{{task.id}}">{{task.fields.Name}}</a></strong></p></ac:rich-text-body></ac:structured-macro>
<p class="auto-cursor-target"><br /></p>
<p class="auto-cursor-target"><br /></p></ac:rich-text-body></ac:structured-macro>
<p class="auto-cursor-target"><br /></p><ac:structured-macro ac:name="section" ac:schema-version="1" ac:macro-id="1973cab1-dc90-4f7d-aab5-629dda8b4746"><ac:rich-text-body>
<p class="auto-cursor-target"><br /></p><ac:structured-macro ac:name="column" ac:schema-version="1" ac:macro-id="d068c87c-c1c3-4e01-bd04-3f8c76b63f72"><ac:parameter ac:name="width">50%</ac:parameter><ac:rich-text-body>
<p><strong>Project</strong></p>
<p>{{task.fields.[Project Name Rollup]}}</p></ac:rich-text-body></ac:structured-macro>
<p class="auto-cursor-target"><br /></p><ac:structured-macro ac:name="column" ac:schema-version="1" ac:macro-id="64cfdc58-bd34-4297-bd2b-1aaa79d326dc"><ac:parameter ac:name="width">50%</ac:parameter><ac:rich-text-body>
<p><strong>Week</strong></p>
<p>{{task.fields.[Week Name Lookup].[0]}}</p></ac:rich-text-body></ac:structured-macro>
<p class="auto-cursor-target"><br /></p></ac:rich-text-body></ac:structured-macro>
<p class="auto-cursor-target"><br /></p><ac:structured-macro ac:name="section" ac:schema-version="1" ac:macro-id="64ea838d-66c6-4681-adbf-4131185856ae"><ac:rich-text-body>
<p class="auto-cursor-target"><br /></p><ac:structured-macro ac:name="column" ac:schema-version="1" ac:macro-id="0b3a0349-511b-47ee-805b-7aa5452d5aa2"><ac:parameter ac:name="width">50%</ac:parameter><ac:rich-text-body>
<p><strong>Assignee</strong></p>
<p><ac:image ac:width="16"><ri:url ri:value="{{task.fields.[Assignee Photo Lookup].[0].thumbnails.small.url}}" /></ac:image>&nbsp;{{task.fields.[Assignee Name Lookup].[0]}}</p></ac:rich-text-body></ac:structured-macro>
<p class="auto-cursor-target"><br /></p><ac:structured-macro ac:name="column" ac:schema-version="1" ac:macro-id="ec85284a-3f56-45c3-ba8a-195b69b8a243"><ac:parameter ac:name="width">50%</ac:parameter><ac:rich-text-body>
<p><strong>Status</strong></p>
{{#if task.inProgress}}
  <p><ac:structured-macro ac:name="status" ac:schema-version="1" ac:macro-id="9b38604c-f45e-48fb-8fd6-75ad26e704de"><ac:parameter ac:name="colour">Yellow</ac:parameter><ac:parameter ac:name="title">{{task.fields.Status}}</ac:parameter></ac:structured-macro></p></ac:rich-text-body></ac:structured-macro>
{{else if task.isBlocked}}  
  <p><ac:structured-macro ac:name="status" ac:schema-version="1" ac:macro-id="9b38604c-f45e-48fb-8fd6-75ad26e704de"><ac:parameter ac:name="colour">Red</ac:parameter><ac:parameter ac:name="title">{{task.fields.Status}}</ac:parameter></ac:structured-macro></p></ac:rich-text-body></ac:structured-macro>
{{else if task.isDone}}  
  <p><ac:structured-macro ac:name="status" ac:schema-version="1" ac:macro-id="9b38604c-f45e-48fb-8fd6-75ad26e704de"><ac:parameter ac:name="colour">Green</ac:parameter><ac:parameter ac:name="title">{{task.fields.Status}}</ac:parameter></ac:structured-macro></p></ac:rich-text-body></ac:structured-macro>
{{else}}
  <p><ac:structured-macro ac:name="status" ac:schema-version="1" ac:macro-id="9b38604c-f45e-48fb-8fd6-75ad26e704de"><ac:parameter ac:name="colour">Gray</ac:parameter><ac:parameter ac:name="title">To Do</ac:parameter></ac:structured-macro></p></ac:rich-text-body></ac:structured-macro>
{{/if}}
<p class="auto-cursor-target"><br /></p></ac:rich-text-body></ac:structured-macro>
<p class="auto-cursor-target"><br /></p></ac:rich-text-body></ac:structured-macro>
