<table class="aui aui-table-list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Project</th>
      <th>Due Date</th>
      <th>Assignee</th>
      <th>Status</th>
    <tr>
  </thead>
  <tbody>
    <tr>
      <td>{{task.fields.Name}}</td>
      <td>{{task.fields.[Project Name Rollup]}}
      <td>{{task.fields.[Due Date]}}</td>
      <td>{{task.fields.[Assignee Name Lookup].[0]}}</td>
      {{#if task.inProgress}}
        <td><span class="aui-lozenge aui-lozenge-current">{{task.fields.Status}}</span></td>
      {{else if task.isBlocked}}
        <td><span class="aui-lozenge aui-lozenge-error">{{task.fields.Status}}</span></td>
      {{else if task.isDone}}
        <td><span class="aui-lozenge aui-lozenge-success">{{task.fields.Status}}</span></td>
      {{else}}
        <td><span class="aui-lozenge">To Do</span></td>
      {{/if}}
    </tr>
  </tbody>
</table>

<ac:structured-macro ac:name="panel" ac:schema-version="1" ac:macro-id="3cea3b52-2d51-4401-90c4-07cd12e75c79">
  <ac:structured-macro ac:name="section" ac:schema-version="1" ac:macro-id="1868c02b-0d96-4a52-8e7e-62d3d233750d">
    <ac:structured-macro ac:name="column" ac:schema-version="1" ac:macro-id="117dfb64-0cac-4c36-b7d4-cbf3b2561e9c"><ac:parameter ac:name="width">100%</ac:parameter>
      <ac:rich-text-body>
        <p><strong><a href="https://google.com">{{task.fields.Name}}</a></strong></p>
      </ac:rich-text-body>
    </ac:structured-macro>
  </ac:structured-macro>
  <ac:structured-macro ac:name="section" ac:schema-version="1" ac:macro-id="1973cab1-dc90-4f7d-aab5-629dda8b4746">
    <ac:structured-macro ac:name="column" ac:schema-version="1" ac:macro-id="d068c87c-c1c3-4e01-bd04-3f8c76b63f72"><ac:parameter ac:name="width">50%</ac:parameter>
      <ac:rich-text-body>
        <p><strong>Project</strong></p>
        <p>{{task.fields.[Project Name Rollup]}}</p>
      </ac:rich-text-body>
    </ac:structured-macro>
    <ac:structured-macro ac:name="column" ac:schema-version="1" ac:macro-id="64cfdc58-bd34-4297-bd2b-1aaa79d326dc"><ac:parameter ac:name="width">50%</ac:parameter>
      <ac:rich-text-body>
        <p><strong>Week</strong></p>
        <p>{{task.fields.[Due Date]}}</p>
      </ac:rich-text-body>
    </ac:structured-macro>
    <ac:structured-macro ac:name="section" ac:schema-version="1" ac:macro-id="64ea838d-66c6-4681-adbf-4131185856ae">
      <ac:structured-macro ac:name="column" ac:schema-version="1" ac:macro-id="0b3a0349-511b-47ee-805b-7aa5452d5aa2"><ac:parameter ac:name="width">50%</ac:parameter>
        <ac:rich-text-body>
          <p><strong>Assignee</strong></p>
          <p><ac:image ac:width="16"><ri:url ri:value="https://dl.airtable.com/n4II9OKITGWGYJ97OOqF_small_mike.jpeg" /></ac:image>&nbsp;{{task.fields.[Assignee Name Lookup].[0]}}</p>
        </ac:rich-text-body>
      </ac:structured-macro>
      <ac:structured-macro ac:name="column" ac:schema-version="1" ac:macro-id="ec85284a-3f56-45c3-ba8a-195b69b8a243"><ac:parameter ac:name="width">50%</ac:parameter>
        <ac:rich-text-body>
          <p><strong>Status</strong></p>
          {{#if task.inProgress}}
            <p><span class="aui-lozenge aui-lozenge-current">{{task.fields.Status}}</span></p>
          {{else if task.isBlocked}}
            <p><span class="aui-lozenge aui-lozenge-error">{{task.fields.Status}}</span></p>
          {{else if task.isDone}}
            <p><span class="aui-lozenge aui-lozenge-success">{{task.fields.Status}}</span></p>
          {{else}}
            <p><span class="aui-lozenge">To Do</span></p>
          {{/if}}
      </ac:structured-macro>
    </ac:structured-macro>
  </ac:structured-macro>
</ac:structured-macro>
